.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal2 {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #dialog-size2 {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
  } 

  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #bttn_id {
      height: 100px;
      width: 200px;
      font-size: 40px;
  }

#bttn_id2 {
  height: 40px;
  width: 80px;
  font-size: 20px;
} 

h1 {
  font-family: "Garamond", "Georgia", serif;
}
.grid-container1 {
  display: flex;
  width: 400px;
  height: 60px;
  flex-direction: column;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-container2 {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  /* background-color: #2196F3; */
  padding: 10px;
}
.score {
  display: flex;
  flex-direction: column;
	flex-grow: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.score_turn {
  display: flex;
  flex-direction: column;
	flex-grow: 2;
  background-color: rgba(33, 126, 248, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}